// Author: Sai Charan (http://saicharan.in/blog)

// Customizations for the Munich Tumblr theme.
@media screen {
    @font-face {
        font-family: 'Lora';
        font-style: italic;
        font-weight: normal;
        src: local('Lora Italic'), local('Lora-Italic'), url('http://themes.googleusercontent.com/static/fonts/lora/v3/wXeMvRh7Gui36p_I04Ex6g.woff') format('woff');
    }
}

@media screen {
    @font-face {
        font-family: 'Lora';
        font-style: normal;
        font-weight: normal;
        src: local('Lora'), url('http://themes.googleusercontent.com/static/fonts/lora/v3/5-AYViExptypIdFoLKAxTA.woff') format('woff');
    }
}

p img {
    padding: 10px;
    border: true;
}

.post .body {
    font-family: 'Lora';
    font-size: 14px;
    font-style: normal;
    color: #D6DBDF;
}

.post .source {
    font-family: 'Lora';
}

.chat ul li {
    font-family: 'Lora';
    font-size: 12;
    color: #D6DBDF;
}

.post .body a {
    font-size: 14px;
    font-style: normal;
}

.post .ttl a, .ttlp{
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#disqus_thread {
    font-family: 'Lora', sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #D6DBDF;
}

#top {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    top: 20%;
    left: 10%;
}

div#header {
    clear: both;
}

ul#nav {
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    float: left;
    clear: left;
    margin-top: 10px;
}

#main, #bottom {
    left: 20%;
}

#main {
    position: relative;
    top: 0;
    padding-top: 60px;
}

#bottom {
    //visibility: hidden;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    clear: both;
}
